<div class="row">
  <div class="col-sm-6 registration">
    <h2>Player Registration:</h2>
    <div class="player">
      <form [formGroup]="signupForm" (ngSubmit)="onPlayerRegistration()">
        <div class="row">
          <div class="col-md-6">
            <label for="name">Player Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              required
              placeholder="Full Name">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <select
                class="form-control"
                formControlName="position"
                required
                id="position">
              <option>PG</option>
              <option>G</option>
              <option>SF</option>
              <option>PF</option>
              <option>C</option>
            </select>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!signupForm"

          >Register Player</button>
      </form>
      </div>
    </div>
    <div class="col-6-sm" *ngIf="submitted">
      <h3>Created Player:</h3>
      <p>Name:  {{ player.name }}</p>
      <p>Position {{ player.position }}</p>
    </div>

  </div>





