<div class="container">
  <div class="row my-4">
    <div class="col-sm-12">
      <h3 class="text-center">Basic Observable Example</h3>
      <p>1) Register Player 2) Add to Player Pool 3) Choose players for Team Roster</p>
    </div>
  </div>
  <hr>
  <div class="row my-4">
    <div class="col-sm-12 col-md-12">
      <app-newplayer></app-newplayer>
    </div></div>
    <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <app-playerpool></app-playerpool>
    </div>
    <div class="col-sm-12 col-md-6">
      <app-team></app-team>
    </div>
  </div>
</div>

